<div class="container-fluid" #aboutContainer [ngClass]="{'light-mode-container': !darkMode, 'dark-mode-container': darkMode}">
    <h1 class="text-center pt-5 text-decoration-underline">
        About
    </h1>

    <div class="row py-5">
        <div class="col-md-9 col-lg-8 mx-auto">
            <p class="text-center">
                As individuals pursuing a degree in computer science, we have personally experienced the challenges associated with extended grading turnaround times during our academic careers. 
                These issues have prompted us to take action and seek ways to mitigate them effectively. 
                <br/>
                <br/>
                Our Student Code Grader tools aim to address the challenges associated with grading computer science assignments, which often require significant time and effort to evaluate accurately. 
                These tools will offer a streamlined process for grading assignments, reducing the time and effort required from instructors and teaching assistants, while simultaneously providing high-quality feedback to students. 
                To help provide a more efficient grading experience, enabling them to better understand their strengths and weaknesses.
            </p>
        </div>

        <div class="col-md-9 col-lg-8 mx-auto d-flex justify-content-center">
            <img src="../../../assets/images/vectorstock.png" class=".img-fluid pt-5 mt-5 d-none d-md-block"
                alt="People discussing at a table">
        </div>
    </div>
</div>
