<div class="pt-3" style="height: 70vh">
    
    <div class="d-flex justify-content-between">
        <div class="pb-4">
            <button type="button" class="btn btn-outline-primary" (click)="backToSubmission()">
                <i class="bi bi-arrow-left-square"></i> Back to All Submissions
            </button>
        </div>

        <div>
            <select class="form-select form-select-sm" [(ngModel)]="selectedFile" (change)="changeFileClick()" aria-label=".form-select-sm example">
                <option *ngFor="let file of files" [value]="file.fileName">{{file.fileName}}</option>
            </select>

            <div *ngIf="userRole !== 'student'" class="pt-3">
                <button type="button" [disabled]="!modifiedContent" class="btn btn-outline-primary" (click)="saveModification()">
                    <i class="bi bi-save" *ngIf="!modifiedButtonLoading"></i> {{modifiedButtonLoading ? '' : 'Save Modification'}}
                    <div *ngIf="modifiedButtonLoading">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    </div>
                </button>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-around py-3">
        <h4>Student Submission</h4>
        <h4>Modified Submission</h4>
    </div>

    <ngx-monaco-diff-editor 
    class="pl-3"
    style="height: 100%"
    [options]="options" 
    [originalModel]="originalModel" 
    [modifiedModel]="modifiedModel"
    (onInit)="onInitDiffEditor($event)"
    ></ngx-monaco-diff-editor>
</div>