<div class="pt-3" style="height: 70vh">
    
    <div class="d-flex justify-content-between">
        <div class="pb-4">
            <button type="button" class="btn btn-outline-primary" (click)="backToSubmission()">
                <i class="bi bi-arrow-left-square"></i> Back to All Submissions
            </button>
        </div>

        <div>
            <select class="form-select form-select-sm" [(ngModel)]="selectedFile" (change)="changeFileClick()" aria-label=".form-select-sm example">
                <option *ngFor="let file of files" [value]="file.fileName">{{file.fileName}}</option>
            </select>
            <br/>
            <app-view-feedback-button></app-view-feedback-button>
        </div>
    </div>

    <div class="d-flex justify-content-around py-3">
        <h4>Your Submission</h4>
        <h4>Modified Submission</h4>
    </div>

    <ngx-monaco-diff-editor 
    class="pl-3"
    style="height: 100%"
    [options]="options" 
    [originalModel]="originalModel" 
    [modifiedModel]="modifiedModel"
    ></ngx-monaco-diff-editor>
</div>

<app-view-feedback-modal></app-view-feedback-modal>