.navbar-nav>li {
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 600;
    cursor: pointer;
}

@media only screen and (max-width: 991px){
    .navbar-nav>li {
        padding-left: 0;
    }
    
}