.navbar-nav>li {
    padding-left: 4rem;
    padding-right: 4rem;
    font-weight: 600;
    cursor: pointer;
}

@media only screen and (max-width: 991px){
    .navbar-nav>li {
        padding-left: 0;
    }
    
}

//Do we want the transition for the nav bar to be instant?

// .navbar:not(.navbar-light-preloading) {
//     transition: all 0.3s linear;
// }