.login {
    min-height: 93.8vh;
}

.bg-image {
    background-image: url('../../../../assets/images/mohammad-rahmani-8qEB0fTe9Vw-unsplash\ 1.png');
    background-size: cover;
    background-position: center;
}

.footer-image {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.login-heading {
    font-weight: 600;
}

.btn-login {
    font-size: 1rem;
    letter-spacing: 0.05rem;
    padding: 1rem 2rem;
}

.landing-page-text{
    margin-top: 3rem;
}