<ng-container *ngIf="user.email">
    <div class="d-flex justify-content-between px-3 py-3">
        <h1>
            Greetings {{this.user.given_name}}!
        </h1>

        <div class="py-3">
            <button type="button" class="btn btn-primary btn-lg mx-3" data-bs-toggle="modal" data-bs-target="#joinCourseModal">
                Join a Course
            </button>
            <button type="button" class="btn btn-secondary btn-lg">Create a Course</button>
        </div>
    </div>

    <ul class="nav nav-pills nav-fill">
        <li class="nav-item px-3 py-3">
            <a class="nav-link" (click)="onPillClick('instructor')"
                [ngClass]="activePill === 'instructor' ? 'active' : ''">Instructor</a>
        </li>
        <li class="nav-item px-3 py-3">
            <a class="nav-link" (click)="onPillClick('grader')"
                [ngClass]="activePill === 'grader' ? 'active' : ''">Grader</a>
        </li>
        <li class="nav-item px-3 py-3">
            <a class="nav-link" (click)="onPillClick('student')"
                [ngClass]="activePill === 'student' ? 'active' : ''">Student</a>
        </li>
        <li class="nav-item px-3 py-3">
            <a class="nav-link" (click)="onPillClick('all')" [ngClass]="activePill === 'all' ? 'active' : ''">All</a>
        </li>
    </ul>

    <app-grid 
        [columnDefs]="columnDefs" 
        [defaultColDef]="defaultColDef" 
        [rowData$]="rowData$"
        (gridReadyEvent)="onGridReady($event)" 
        (cellClickedEvent)="onCellClicked($event)">
    </app-grid>
</ng-container>

<app-class-details-modal></app-class-details-modal>
<app-join-course-modal></app-join-course-modal>