.nav-pills>li>a {
    color:black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50px;
}

//Not active
.nav-pills .nav-link:not(.active) {
    background-color: #B3C5F4;
}

//Active
.nav-pills .nav-link {
    background-color: #E8DDFF;
}