/* You can add global styles to this file, and also import other style files */

body.dark-mode {
    background-color: #121212;
    color: #dfe6e9;
}

body:not(.dark-mode-preloading) {
    transition: all 0.3s linear;
}

body.light-mode {
    background-color: white;
    color: #2d3436;
}