<div class="container-fluid" *ngIf="userRole">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-0 border-end">
            <div class="d-flex flex-column align-items-center align-items-sm-start pt-2 min-vh-100">
                <h4 class="d-flex align-items-center pb-3 mb-md-0 me-md-auto">
                    &nbsp;{{className}}
                </h4>
                <div class="accordion accordion-flush w-100" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button (click)="onAccordionClick('overview')" class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="bi bi-card-text"></i>&nbsp; Overview
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="d-flex justify-content-between">
                                    <strong>Instructor:</strong>
                                    <p>{{instructor}} <a href="mailto:some@email.com" target="_blank"><i class="bi bi-envelope" style="cursor: pointer;" data-bs-toggle="tooltip" data-bs-placement="right" title="Contact Instructor"></i></a></p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <strong>Graders:</strong>
                                    <div *ngIf="graders?.length">
                                        <p>{{graders!.length}}</p>
                                        <br/>
                                    </div>
                                    <ng-container *ngIf="!graders?.length">
                                        <p>N/A</p>
                                    </ng-container>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <strong>Class Size:</strong>
                                    <p>{{classSize}}</p>
                                </div>
                                <ng-container *ngIf="userRole === 'instructor'">
                                    <div class="d-flex justify-content-between">
                                        <strong>Invite Code:</strong>
                                        <p>{{classInfo?.invite_code}}</p>
                                    </div>
                                </ng-container>
                            </div>
                        </div>  
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button (click)="onAccordionClick('assignments')" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <i class="bi bi-file-earmark"></i>&nbsp; Assignments
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="d-flex justify-content-between">
                                    <strong>Upcoming Assigment:</strong>
                                    <p>Homework 3</p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <strong>Due Date:</strong>
                                    <p>{{date}}</p>
                                </div>
                                <hr>
                                <div class="d-flex justify-content-between">
                                    <strong>Recently Assigned:</strong>
                                    <p>Homework 4</p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <strong>Due Date:</strong>
                                    <p>{{date}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button (click)="onAccordionClick('submissions')" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <i class="bi bi-cloud-upload"></i>&nbsp; Submissions
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="d-flex justify-content-between">
                                    <strong>Submissions:</strong>
                                    <div>
                                        <p>Homework 1</p>
                                        <p>Homework 2</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="userRole === 'instructor'" class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button (click)="onAccordionClick('roster')" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <i class="bi bi-people"></i>&nbsp; Roster
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="d-flex justify-content-between">
                                    <strong>Graders:</strong>
                                    <p>{{graders?.length ? graders?.length : 0}}</p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <strong>Students:</strong>
                                    <p>{{classSize}}</p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <strong>Pending:</strong>
                                    <p>{{pendingCount}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="userRole === 'instructor'" class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button (click)="onAccordionClick('grading')" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                <i class="bi bi-check-circle"></i>&nbsp; Needs Grading
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="d-flex justify-content-between">
                                    <strong>Assignments Left:</strong>
                                    <p>4</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="userRole === 'instructor'" class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button (click)="onAccordionClick('settings')" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                <i class="bi bi-gear-wide"></i>&nbsp; Course Settings
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Settings
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
                    </li>
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Bootstrap</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span> </a>
                            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 3</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 4</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span> </a>
                    </li>
                </ul> -->
            </div>
        </div>
        <div class="col py-3">
            <h1>{{className}}</h1>
            <div *ngIf="courseState === 'overview'">
                <h2 class="text-center">Overview:</h2>
                <hr>

                <div class="d-flex justify-content-between py-3">
                    <strong>User (You):</strong>
                    <div>
                        <p>{{this.user.family_name}} {{this.user.given_name}}</p>
                    </div>
                </div>
                <hr>

                <div class="d-flex justify-content-between pb-3">
                    <strong>Your Role:</strong>
                    <div>
                        <p>{{this.userRole | titlecase}}</p>
                    </div>
                </div>
                <hr>

                <div class="d-flex justify-content-between pb-3">
                    <strong>Instructor:</strong>
                    <div>
                        <p>{{instructor}}</p>
                    </div>
                </div>
                <hr>

                <div class="d-flex justify-content-between pb-3">
                    <strong>Graders:</strong>
                    <ng-container *ngIf="graders?.length">
                        <p>{{graders!.length}}</p>
                    </ng-container>
                    <ng-container *ngIf="!graders?.length">
                        <p>N/A</p>
                    </ng-container>
                </div>
                <hr>

                <div class="d-flex justify-content-between pb-3">
                    <strong>Next Assignment Due:</strong>
                    <div>
                        <p>Homework 1</p>
                        <p>Homework 2</p>
                    </div>
                </div>
                <hr>

                <div class="d-flex justify-content-between">
                    <strong>Recently Assigned:</strong>
                    <div>
                        <p>Homework 1</p>
                        <p>Homework 2</p>
                    </div>
                </div>
                <hr>
            </div>

            <div *ngIf="courseState === 'roster' ">
                <h2 class="text-center">Roster:</h2>
                <hr>

                <div>
                    <app-grid
                    [columnDefs]="columnDefs" 
                    [defaultColDef]="defaultColDef" 
                    [rowData$]="rowData$"
                    (gridReadyEvent)="onGridReady($event)" 
                    (cellClickedEvent)="onCellClicked($event)"
                    ></app-grid>
                </div>
            </div>

            <div *ngIf="courseState === 'assignments'" >
                <h2 class="text-center">Assignments:</h2>
                <hr>

                <div>
                    <app-grid
                    [columnDefs]="assignmentsColumnDefs" 
                    [defaultColDef]="defaultColDef" 
                    [rowData$]="assignmentsRowData$"
                    (gridReadyEvent)="onAssignmentsGridReady($event)" 
                    (cellClickedEvent)="onCellClicked($event)"
                    ></app-grid>
                </div>
            </div>

            <div *ngIf="courseState === 'submissions'">
                <h2 class="text-center">Submissions:</h2>
                <hr>

                <div>
                    <app-grid
                    [columnDefs]="submissionColumnDefs" 
                    [defaultColDef]="defaultColDef" 
                    [rowData$]="submissionRowData$"
                    (gridReadyEvent)="onSubmissionGridReady($event)" 
                    (cellClickedEvent)="onCellClicked($event)"
                    ></app-grid>
                </div>
            </div>

            <div *ngIf="courseState === 'grading'">
                <h2 class="text-center">Needs Grading:</h2>
                <hr>

                <div>
                    <app-grid
                    [columnDefs]="columnDefs" 
                    [defaultColDef]="defaultColDef" 
                    [rowData$]="rowData$"
                    (gridReadyEvent)="onGridReady($event)" 
                    (cellClickedEvent)="onCellClicked($event)"
                    ></app-grid>
                </div>
            </div>
            <!-- <p *ngIf="courseState === 'noState'">No State</p> -->
            <p *ngIf="courseState === 'settings'">Course Settings State</p>
        </div>
    </div>
</div>

<app-modify-roster></app-modify-roster>
<app-delete-roster-modal></app-delete-roster-modal>