<form>
    <h1 class="mt-5 text-center mb-4">
        {{ appname }}
    </h1>
    <hr style="border: 1px solid" class="mb-5">
    <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Forgot Password?</h3>

    <form *ngIf="!codeSent && !successMessage" [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordSubmit()">
        <div class="form-outline mb-4 form-group">
            <label class="form-label" for="emailaddresslogin">Email address</label>
            <input formControlName="email" type="email" id="emailaddresslogin" class="form-control form-control-lg"
                placeholder="Enter email" required />
        </div>

        <div class="d-grid mb-2">
            <button [disabled]="!forgotPasswordForm.valid || isLoading"
                class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit">
                {{ isLoading ? '' : 'Reset Password' }}
                <div *ngIf="isLoading">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </div>
            </button>
        </div>
        <div *ngIf="errorMessage" class="my-2 text-danger">
            ERROR: {{ errorMessage}}
        </div>
    </form>

    <div *ngIf="codeSent && !successMessage">
        <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <label for="confirmationCode" class="sr-only">Confirmation Code</label>
                <input type="text" name="confirmationCode" [(ngModel)]="confirmationCode" class="form-control"
                    id="confirmationCode" placeholder="Code">
            </div>

            <div class="form-group mx-sm-3 mb-2">
                <label for="password" class="sr-only">New Password</label>
                <input type="password" name="password" [(ngModel)]="password" class="form-control"
                    id="forgot-password-new-password" placeholder="New Password">
            </div>
            <p>
                Use 8 or more characters, at least one uppercase letter, one lowercase letter, one number and one
                special
                character
            </p>

            <button type="submit" [disabled]="!enableButton()" (click)="onSubmit()" class="btn btn-primary mb-2">
                {{ isLoading ? '' : 'Change Password' }}
                <div *ngIf="isLoading">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </div>
            </button>
            <div *ngIf="errorMessage" class="my-2 text-danger">
                ERROR: {{ errorMessage}}
            </div>
        </form>

    </div>
    
    <div *ngIf="successMessage" class="my-2 text-success">
        {{ successMessage }}
    </div>

    <p *ngIf="!codeSent">Don't have an account? <a style="cursor:pointer" class="link-info"
            (click)="onRegisterHereClick()">Register
            here</a></p>
</form>